@use "../../utils" as *;

.footer__main {
  max-width: 1380px;
  margin: 80px auto 0;
  padding-inline: 30px;
  box-sizing: content-box;

  @include respond-to('mobile-v') {
    padding-inline: 10px;
  }

  > .section-wrapper {
    display: flex;
    flex-direction: column;
    padding: 40px 50px;
    border-radius: 10px;
    background-color: $suit-color--blue;

    @include respond-to('iphone') {
      padding: 30px;
    }

    @include respond-to('mobile-v') {
      padding: 40px 20px;
    }
  }
}

.footer__main-nav {
  display: flex;
  justify-content: space-between;
  gap: 40px;
  margin-top: 40px;

  @include respond-to('iphone') {
    flex-direction: column;
  }
}

.footer__nav {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: 3 auto;
  grid-auto-rows: fit-content(1px);
  grid-auto-flow: column;
  column-gap: 100px;
  row-gap: 15px;

  @include respond-to('ismobile') {
    gap: 10%;
  }

  @include respond-to('ismobile') {
    gap: 0 15%;
  }

  @include respond-to('mobile-v') {
    grid-auto-flow: unset;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: auto;
    row-gap: 25px;
    align-items: baseline;
    text-align: left;
  }

  div {
    display: flex;
    flex-direction: column;
    height: min-content;

    &:nth-of-type(1) {
      grid-column: 1;
      grid-row: span 3;
    }
    // &:nth-of-type(2) {
    //   grid-column: 2;
    //   grid-row: 1;
    // }
    // &:nth-of-type(3) {
    //   margin-top: -25px;

    //   @include respond-to('mobile-v') {
    //     margin-top: 0;
    //   }
    // }
    // &:nth-of-type(4) {
    //   grid-column: 2;
    //   grid-row: 3;
    // }
  }

  a {
    padding-block: 5px;
    line-height: 1.5;
    font-size: toem(16px);
    color: white;

    &:hover {
      text-decoration: underline;
    }
  }

  header a {
    font-weight: 700;

    &[href="#"] {
      pointer-events: none;
    }
  }
}

.footer__logo {
  @include respond-to('mobile-v') {
    text-align: center;
  }
}

.footer__sub-nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 40px;

  @include respond-to('mobile-h') {
    flex-direction: column;
    gap: 20px;
  }
}

.footer__cta {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  column-gap: 15px;
  max-width: 425px;
  max-height: 300px;
  padding: 30px 40px;
  border-radius: 10px;
  background-color: $suit-color--lightblue;

  @include respond-to('iphone') {
    max-width: unset;
    max-height: unset;
    row-gap: 10px;
    padding: 20px;
  }

  @include respond-to('mobile-v') {
    text-align: center;
    justify-content: center;
  }

  h3 {
    margin: 0;
  }

  header {
    width: 100%;

    @include respond-to('iphone') {
      margin-bottom: 20px;
    }
  }
}

.footer__social-media {
  display: flex;
  gap: 15px;

  a {
    &:hover {
      opacity: .6;
    }
  }
}

.footer__terms {
  display: flex;
  align-items: baseline;
  gap: 30px;

  @include respond-to('mobile-v') {
    flex-direction: column;
    gap: 10px;
    align-items: center;
  }

  p {
    margin: 0;
  }

  p,
  a {
    font-size: 12px;
    color: white
  }

  a {
    &:hover {
      text-decoration: underline;
    }
  }
}

.footer__separator {
  padding-block: 25px;

  hr {
    height: 6px;
    margin: 0 auto 10px;
    border: none;
    border-radius: 9999px;

    &:nth-of-type(1) {
      max-width: 90%;
      background-color: $suit-color--blue;
    }

    &:nth-of-type(2) {
      max-width: 80%;
      background-color: $suit-color--cyan;
    }

    &:nth-of-type(3) {
      max-width: 74%;
      background-color: $suit-color--purple;
    }

    &:nth-of-type(4) {
      max-width: 68%;
      background-color: $suit-color--yellow;
    }
  }
}