@use "../../../utils" as *;

.loop__events {
  .wp-block-query-filter__select {
    max-width: 240px;
    padding: 10px;
    border: 1px solid #D9D9D9;
    border-radius: 8px;
  }

  .wp-block-post {
    position: relative;
    overflow: clip;
    padding: 0;

    figure {
      width: 100%;
      max-height: 205px;
      margin: 0;
    }

    > .wp-block-group {
      position: unset;
    }
  }

  .event__date {
    display: grid;
    place-items: center;
    position: absolute;
    top: 15px;
    left: 15px;
    width: 64px;
    height: 66px;
    background-color: white;
    border-radius: 5px;
    color: $suit-color--blue;

    > div {
      display: flex;
      flex-direction: column;
      align-items: center;
      line-height: 1;
    }
  }

  .event__day {
    font-size: 39px;
    font-weight: 500;
  }
  
  .event__time {
    font-size: 16px;
    color: #757575;
  }

  .event__location {
    margin: 5px 0 0 0;

    div {
      display: flex;
      align-items: center;
    }

    em {
      padding: 2px 0 0 3px;
      font-style: normal;
      font-size: 16px;
    }
  }

  .wp-block-post-terms {
    margin: 0;
  }
}



.single-tribe_events {
  #tribe-events-pg-template {
    display: contents;
  }
}

.post__event {
  max-width: 1340px;

  .wp-block-post-featured-image :where(img) {
    height: 100%;
    max-width: unset;
    object-fit: cover;
  }

  .blog__featured {
    figure {
      overflow: clip;
      height: 100%;
      border-radius: 10px;
    }

    li .wp-block-columns {
      gap: 7.5%;

      .wp-block-column:has(figure) {
        height: 100%;
        max-height: 355px;
      }
    }

    .wp-block-post-excerpt__more-link {
      font-size: 83.5%;
    }
  }
}