////
/// Buttons
/// @group components
/// @author Damián Muti
////
@use "../core/settings" as *;
@use "../helpers/functions" as *;

///
$c-button-text-color: white !default;
$c-button-padding: 0 #{toem(30px)};
$c-button-background: $suit-color--blue;
$arrow-path: "M1.5 3.87676C1.19624 3.87676 0.95 4.123 0.95 4.42676C0.95 4.73051 1.19624 4.97676 1.5 4.97676L1.5 3.87676ZM15.8889 4.81567C16.1037 4.60088 16.1037 4.25264 15.8889 4.03785L12.3887 0.537671C12.1739 0.322883 11.8257 0.322883 11.6109 0.537671C11.3961 0.75246 11.3961 1.1007 11.6109 1.31549L14.7222 4.42676L11.6109 7.53803C11.3961 7.75282 11.3961 8.10106 11.6109 8.31585C11.8257 8.53063 12.1739 8.53063 12.3887 8.31585L15.8889 4.81567ZM1.5 4.97676L15.5 4.97676L15.5 3.87676L1.5 3.87676L1.5 4.97676Z";

/// General styles for buttons. There are also a couple of modifier classes to handle smaller and bigger styles for the buttons.
/// @example markup - Regular size buttons
///   <button class="button"></button>
/// @example markup - Small size buttons
///   <button class="button button--small"></button>
/// @example markup - Large size buttons
///   <button class="button button--large"></button>
///

@mixin c-button() {
  .wp-block-button {
    flex-shrink: 0;
  }

  .btn,
  .wp-block-button .wp-block-button__link   {
    appearance: none;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    width: fit-content;
    height: toem(60px);
    padding: $c-button-padding;
    border: none !important;
    border-radius: 9999px;
    line-height: 1; // Normalize height
    font-family: $suit-font-family--primary;
    font-size: toem(14px);
    font-weight: 500;
    color: $c-button-text-color;
    text-align: center;
    text-decoration: none;
    background-color: $c-button-background;
    transition: all $suit-transition-duration $suit-transition-timing;

    &.has-purple-background-color {
      
    }

    // &:hover {
    //   background-color: color-mix(in oklab, currentColor, blue);
    // }
    

  //   &:has(.icon) {
  //     display: flex;
  //     align-items: center;
  //     padding-block: toem(10px); 
  //     padding-inline: toem(30px) 10px;

  //     &:hover {
  //       .icon {
  //         transform: translateX(2px);
  //       }
  //     }
  //   }

  //   .icon {
  //     display: grid;
  //     place-content: center;
  //     width: 28px;
  //     height: 28px;
  //     margin-left: 10px;
  //     transition: transform .25s ease;

  //     &--rounded {
  //       border-radius: 100%;
  //     }

  //     &--white {
  //       background-color: white;
  //     }
  //   }

  //   // &:hover {
  //   //   background-position: 0 100%;
  //   // }

  //   &:has(.wp-element-button) {
  //     padding: 3px;
  //     background-color: transparent;
  //     border-width: 0;

  //     a,
  //     .rich-text {
  //       padding: #{toem(18px)} #{toem(80px)} #{toem(18px)} #{toem(45px)};
  //       background-color: $suit-color-lightgray !important;
  //       color: $suit-color--blue !important;

  //       &::after {
  //         content: url(./images/arrow.svg);
  //         position: absolute;
  //         padding-left: 13px;
  //         transition: transform .25s ease;
  //       }

  //       &:hover {
  //         &::after {
  //           transform: translateX(3px);
  //         }
  //       }
  //     }
  //   }

  //   .has-purple-background-color {
  //     &:has(.wp-element-button) {
  //       a,
  //       .rich-text {
  //         background-color: $suit-color--purple;
  //         color: white
  //       }
  //     }
  //   }

  //   &--outline {
  //     background-color: transparent;
  //     color: $c-button-background;
  //   }

  //   &--multicolor {
  //     font-size: toem(16px);
  //     position: relative;
  //     background: conic-gradient(
  //         $suit-color--cyan 0% 20%,
  //         $suit-color--purple 20% 35%,
  //         $suit-color--yellow 35% 68%,
  //         $suit-color--purple 68% 75%,
  //         $suit-color--cyan 75% 100%
  //       ) !important;
  //   }
  // }
  }

  .wp-block-button {
    &.is-style-fill,
    &.is-style-has-arrow,
    &.is-style-has-rounded-arrow {
      
      .wp-block-button__link {
        --current-background: var(--wp--preset--color--blue);

        &.has-cyan-background-color {
          --current-background: var(--wp--preset--color--cyan);
        }

        &.has-purple-background-color {
          --current-background: var(--wp--preset--color--purple);
        }

        &.has-yellow-background-color {
          --current-background: var(--wp--preset--color--yellow);
        }

        &.has-light-blue-background-color {
          --current-background: var(--wp--preset--color--light-blue);
        }

        &.has-gray-background-color {
          --current-background: var(--wp--preset--color--gray);
        }
        
        &.has-white-background-color {
          --current-background: var(--wp--preset--color--white);
        }

        &:hover {
          background-color: color-mix(in srgb, var(--current-background), #000 30%) !important;
        }
      }
    }

    &.is-style-has-arrow,
    &.is-style-has-rounded-arrow,
    &.is-style-has-multicolor-outline {
      .wp-block-button__link {    
        &.has-white-background-color {
          $arrow-color: white;
          
          &::after {
            content: get-icon($arrow-path, 17px, 9px, $arrow-color);
          }
        }

        &.has-purple-background-color {
          $arrow-color: $suit-color--purple;
          
          &::after {
            content: get-icon($arrow-path, 17px, 9px, $arrow-color);
          }
        }

        &.has-blue-background-color {
          $arrow-color: $suit-color--blue;

          &::after {
            content: get-icon($arrow-path, 17px, 9px, $arrow-color);
          }
        }

        &.has-cyan-background-color {
          $arrow-color: $suit-color--cyan;

          &::after {
            content: get-icon($arrow-path, 17px, 9px, $arrow-color);
          }
        }

        &.has-yellow-background-color {
          $arrow-color: $suit-color--yellow;

          &::after {
            content: get-icon($arrow-path, 17px, 9px, $arrow-color);
          }
        }

        &.has-gray-background-color {
          $arrow-color: $suit-color--gray;

          &::after {
            content: get-icon($arrow-path, 17px, 9px, $arrow-color);
          }
        }

        &.has-light-blue-background-color {
          $arrow-color: $suit-color--lightblue;

          &::after {
            content: get-icon($arrow-path, 17px, 9px, $arrow-color);
          }
        }
        
        &::after {
          $arrow-color: $suit-color--blue;
          
          content: get-icon($arrow-path, 17px, 9px, $arrow-color);
          position: relative;
          left: 0;
          flex-shrink: 0;
          margin-left: 13px;
          transition: all .25s ease;
        }

        &:hover {
          &::after {
            left: 3px
          }
        }
      }
    }

    &.is-style-has-arrow {
      .wp-block-button__link {
        $arrow-color: $suit-color--blue;

        &::after {
          content: get-icon($arrow-path, 17px, 9px, $arrow-color);
        }
      }
    }

    &.is-style-has-rounded-arrow {
      .wp-block-button__link {
        --icon-background: white;

        padding-right: toem(12px);

        &.has-white-color {
          --icon-background: white;
        }

        &.has-purple-color {
          --icon-background: var(--wp--preset--color--purple);
        }

        &.has-blue-color {
          --icon-background: var(--wp--preset--color--blue);
        }

        &.has-cyan-color {
          --icon-background: var(--wp--preset--color--cyan);
        }

        &.has-yellow-color {
          --icon-background: var(--wp--preset--color--yellow);
        }

        &.has-gray-color {
          --icon-background: var(--wp--preset--color--gray);
        }

        &.has-light-blue-color {
          --icon-background: var(--wp--preset--color--light-blue);
        }

        &::after {
          display: grid;
          place-items: center;
          width: toem(36px);
          height: toem(36px);
          border-radius: 9999px;
          background-color: var(--icon-background);
        }

        &.has-cyan-background-color {
          &::after {
            content: get-icon($arrow-path, 17px, 9px, $suit-color--cyan);
          }
        }

        &.has-purple-background-color {
          &::after {
            content: get-icon($arrow-path, 17px, 9px, $suit-color--purple);
          }
        }

        &.has-yellow-background-color {
          &::after {
            content: get-icon($arrow-path, 17px, 9px, $suit-color--yellow);
          }
        }

        &.has-light-blue-background-color {
          &::after {
            content: get-icon($arrow-path, 17px, 9px, $suit-color--blue);
          }
        }
      }
    }

    &.is-style-outline {
      .wp-block-button__link {
        --current-color: var(--wp--preset--color--blue);

        color: var(--current-color);
        box-shadow:  0px 0px 0px 2px currentColor inset;
        background: transparent !important;

        &.has-blue-background-color {
          &:hover {
            $current-color: color-mix(in srgb, var(--current-color),#000 40%);
            
            color: $current-color;
            box-shadow:  0px 0px 0px 2px $current-color inset;
          }
        }

        &.has-cyan-background-color {
          --current-color: var(--wp--preset--color--cyan);
        }

        &.has-purple-background-color {
          --current-color: var(--wp--preset--color--purple);
        }

        &.has-yellow-background-color {
          --current-color: var(--wp--preset--color--yellow);
        }

        &.has-light-blue-background-color {
          --current-color: var(--wp--preset--color--light-blue);
        }

        &:hover {
          $current-color: color-mix(in srgb, var(--current-color),#000 30%);
          
          color: $current-color;
          box-shadow:  0px 0px 0px 2px $current-color inset;
        }
      }
    }

    &.is-style-has-multicolor-outline {
      --bg-rotation: 0turn;

      padding: toem(3px);
      border-radius: 9999px;

      background: conic-gradient(
        from var(--bg-rotation),
        $suit-color--cyan 0% 20%,
        $suit-color--purple 20% 35%,
        $suit-color--yellow 35% 68%,
        $suit-color--purple 68% 75%,
        $suit-color--cyan 75% 100%
      ) !important;

      &:hover {
        animation: bg-rotation 2s ease forwards;
      }

      .wp-block-button__link {
        padding-inline: toem(50px);
        font-size: 16px;
        color: var(--wp--preset--color--blue);
        background: var(--wp--preset--color--light-gray) !important;

        &:hover {
          font-weight: 700
        }
      }
    }
  }
}

@keyframes bg-rotation {
  from { --bg-rotation: 0turn; }
  to { --bg-rotation: 1turn; }
}

@property --bg-rotation {
  syntax: '<angle>';
  initial-value: 0turn;
  inherits: false
}

@include c-button();