.c--icon-text {
  overflow: clip;
  margin: 0;
  padding: 0;
  
  .wp-block-columns {
    row-gap: 15px;
  }

  .icon {
    display: grid;
    place-items: center;
    width: 46px;
    height: 46px;
    max-height: 46px;
    min-height: 46px;
    max-width: 46px;
    min-width: 46px;
  }

  .text {
    text-align: center;
  }
}
