@use "../../../utils" as *; 

.home__hero {
  min-height: 770px;
  padding: 0;

  > .wp-block-cover {
    max-width: unset;
    min-height: 770px;
  }

  h1 {
    font-size: 74px;

    @include respond-to('tablet-v') {
      font-size: 54px !important;
    }

    + p {
      margin-block: 40px;
      padding-right: 45vw;
      line-height: 1.7;

      @include respond-to('tablet-v') {
        padding-right: 0;
      }
    }
  }

  .is-layout-constrained > :where(:not(.alignleft):not(.alignright):not(.alignfull)) {
    max-width: 1220px;
  }

  .wp-block-cover, 
  .wp-block-cover-image {
    padding: 40px;

    @include respond-to('tablet-v') {
      padding: 30px;
      padding-bottom: 100px;
      padding-top: 140px;
    }
  }
}



.home__welcome {
  background: linear-gradient(180deg, rgba(255,255,255,1) 0%, rgba(255,255,255,1) 30%, rgba(242,240,231,1) 30%, rgba(242,240,231,1) 100%);

  &.section-wrapper {
    max-width: unset;
  }

  .wrapper {
    transform: translateY(-60px);
    background: linear-gradient(0deg,rgb(240,238,229) 0%,rgb(245,243,234) 70%, rgb(245,243,234) 70%, #f2f0e7 100%) !important;
  }

  .icons {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: baseline;
    column-gap: 50px;
    row-gap: 30px;
    max-width: 990px;
    margin: 0 auto;
  }

  .c--icon-text {
    margin: 0 !important;
  }

  .wrapper {
    > p {
      text-wrap: balance;
  
      @include respond-to('mobile-v') {
        padding: 40px !important;
        font-size: 19px !important;
      }
    }
  }
}

.home__columns {
  @include respond-to('iphone') {
    flex-direction: column;

    .safe-svg-cover .safe-svg-inside {
      max-width: 25%;
      height: unset !important;
    }
  }
}

.home__difference {
  hr {
    width: 100% !important;
    height: 3px !important;
  }

  .wp-block-group,
  .wp-block-columns {
    @include respond-to('ismobile') {
      gap: 40px !important;
      padding-inline: 0 !important;
    }
  }
}

.home__services {
  .wp-block-column {
    ///
    --c-color-1: #{$suit-color--purple};
    ///
    --c-color-1-width: 45%;
    ///
    --c-color-2: #{$suit-color--blue};

    max-width: 381px;
    background-position: bottom left;
    background-repeat: no-repeat;
    background-image:
      linear-gradient(var(--c-color-1), var(--c-color-1)),
      linear-gradient(var(--c-color-2), var(--c-color-2));
    background-size: 
      var(--c-color-1-width) 11px,
      100% 11px;
  }

  p {
    @include respond-to('mobile-v') {
      font-size: 18px !important;
    }
  }

  .wp-block-group {
    @include respond-to('mobile-v') {
      padding: 0 !important;
    }
  }

  .safe-svg-cover .safe-svg-inside {
    @include respond-to('mobile-v') {
      max-width: 30%;
    }
  }

  .wp-block-columns {
    justify-content: center;

    &:nth-of-type(1) {
      .wp-block-column {
        &:nth-of-type(1) {
          --c-color-1: #{$suit-color--purple};
          --c-color-1-width: 45%;
          --c-color-2: #{$suit-color--blue};
        }
    
        &:nth-of-type(2) {
          --c-color-1: #{$suit-color--yellow};
          --c-color-1-width: 70%;
          --c-color-2: #{$suit-color--blue};
        }
    
        &:nth-of-type(3) {
          --c-color-1: #{$suit-color--purple};
          --c-color-1-width: 35%;
          --c-color-2: #{$suit-color--cyan};
        }
      }
    }

    &:nth-of-type(2) {
      .wp-block-column {
        &:nth-of-type(1) {
          --c-color-1: #{$suit-color--yellow};
          --c-color-1-width: 35%;
          --c-color-2: #{$suit-color--purple};
        }
    
        &:nth-of-type(2) {
          --c-color-1: #{$suit-color--cyan};
          --c-color-1-width: 35%;
          --c-color-2: #{$suit-color--blue};
        }
      }
    }
  }
}



// :root {
// @each $color in $colors {
  
//     --#{$color}: #{$color};
  
// }
// }

// .home__why {
//   position: relative;
//   //background-color: transparent !important;

//   @each $color in $colors {
//     &.has-#{$color}-background-color {
//       --bg: var(--wp--preset--color--#{$color});
//     }
//   }
  

//   .background {
//     content: "";
//     position: absolute;
//     width: 150vw;
//     left: 50%;
//     top: 50%;
//     height: 100%;
//     padding-block: 25%;
//     border-radius: 50%;
//     transform: translate(-50%, -50%);
//     background-color: var(--bg);
    
//   }
// }

.editor-styles-wrapper {
  .home__why {  
    .content {
      width: 100%;
      max-width: 1100px !important;
    }
  }
}

.home__why {
  position: relative;
  width: 120vw;
  max-width: unset !important;
  left: 50%;
  padding: 15% 0 20%;
  transform: translateX(-50%);

  @include respond-to('ismobile') {
    width: 180vw;
  }

  @include respond-to('tablet-v') {
    width: 230vw;
  }

  .content {
    //width: 100%;
    //max-width: 75%;
    width: min(1215px, 60%);

    @include respond-to('ismobile') {
      width: min(855px, 60%);
    }

    @include respond-to('tablet-v') {
      width: min(405px, 60%);
    }

    @include respond-to('mobile-v') {
      width: min(325px, 60%);

      .safe-svg-cover .safe-svg-inside {
        max-width: 20%;
      }
    }
  }

  p {
    text-wrap: balance;

    @include respond-to('mobile-v') {
      font-size: 18px !important;
    }
  }
}

.home__locations {
  @include respond-to('mobile-v') {
    padding-inline: 10px !important;
  }

  h3,
  p {
    text-wrap: balance;
  }

  .wp-block-cover {
    @include respond-to('tablet-v') {
      padding-top: 55vw !important;
    }

    .wp-block-cover__image-background {
      max-width: 60%;

      @include respond-to('tablet-v') {
        max-width: 100%;
        max-height: 450px;
      }
    }

    .wp-block-cover__inner-container {
      .wp-block-group {
        @include respond-to('tablet-v') {
          max-width: 100%;
        }

        .wp-block-group {
          @include respond-to('tablet-v') {
            padding: 40px !important;
          }
        }
      }
    }
  }
}