@mixin do-toggle() {
  position: relative;

  input[type="checkbox"]{
    &:checked,
    &:not(:checked) {
      position: absolute;
      left: -9999px;

      + label {
        position: relative;
        display: flex;
        justify-content: space-between;
        align-items: center;
        min-width: 160px;
        max-width: 160px;
        cursor: pointer;
        
        &::before {
          content: '';
          position: absolute;
          top: 50%;
          left: calc(50% + #{(37.5px - 25.16px) / 2});
          display: block;
          padding: 3px;
          border: 1px solid $suit-color--primary;
          border-radius: 15px;
          width: 50px;
          height: 30px;
          transform: translate(-50%, -50%);
          transition: all 0.25s ease;
        }

        &::after {
          content: '';
          position: absolute;
          top: 50%;
          left: calc(50% + #{((37.5px - 25.16px) / 2)});
          width: 20px;
          height: 20px;
          border-radius: 100%;
          background-color: $suit-color--primary;
          transition: all 0.25s ease;
        }
      }
    }

    &:not(:checked) {
      + label {
        &::before {
          background-color: white;
        }

        &::after {
          transform: translate(calc(-50% - 10px), -50%);
        }
      }
    }

    &:checked {
      + label {
        &::before {
          background-color: $suit-color--primary;
        }

        &::after {
          background-color: white;
          transform: translate(calc(-50% + 10px), -50%);
        }
      }
    }
  }
}