@use "../../../utils" as *;

#telemedicine {
  .wp-block-columns {
    @include respond-to('iphone') {
      flex-direction: column-reverse;
    }
  }
}

#routine-wellness {
  .wp-block-columns {
    @include respond-to('ismobile') {
      flex-direction: column;
      padding-top: 50px; 
    }
  }
}

#same-day-appointments,
#chronic-disease-management {
  .wp-block-columns {
    @include respond-to('iphone') {
      flex-direction: column-reverse;
    }
  }
}