@use "../../../utils" as *;



.wp-block-post {
  &.type-leadership {
    p {
      color: $suit-color--darkgray;
    }
  }
}

.page--leadership {
  background: url(images/bg--leadership.svg) center 300px no-repeat;

  .wp-block-query {
    @include respond-to('iphone') {
      .columns-3 {
        li {
          grid-column: span 4
        }
      }
    }
  }
}