////
/// Header
/// @group Header
/// @author Damián Muti
////
@use "../../utils" as *;

.header__main {
  position: fixed;
  z-index: 100;
  width: 100%;
  padding-inline: 30px;

  > div {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    max-width: 1280px;
    margin: 40px auto 0;
    padding: 10px 30px;
    border-radius: 9999px;
    background-color: white;
    box-shadow: 0 4px 64px 0 rgba(black, .08);
  }

  svg {
    display: block;
  }
}

.header__logo {
  display: inline-block;
}

.header__nav {
  display: flex;
  align-items: center;

  a:not(.wp-block-button__link) {
    padding-inline: 20px;
    color: $suit-color--blue;
    font-size: toem(16px);

    &:nth-child(5) {
      padding-right: 40px;
    }
  }

  .wp-block-button__link {
    margin-left: 15px;
  }
}

.page__header {
  overflow: hidden;
  position: relative;
  padding-top: 200px;
  padding-bottom: 80px;
  background: transparent !important;

  --current-background: var(--wp--preset--color--white);

  &.has-blue-background-color {
    --current-background: var(--wp--preset--color--blue);
  }

  &.has-cyan-background-color {
    --current-background: var(--wp--preset--color--cyan);
  }

  &.has-purple-background-color {
    --current-background: var(--wp--preset--color--purple);
  }

  &.has-yellow-background-color {
    --current-background: var(--wp--preset--color--yellow);
  }

  &.has-light-blue-background-color {
    --current-background: var(--wp--preset--color--light-blue);
  }

  &::before {
    content: "";
    position: absolute;
    left: 50%;
    bottom: 0;
    z-index: 0;
    width: 2800px;
    min-height: 1600px;
    border-radius: 50%;
    transform: translate(-50%, 0);
    background-color: var(--current-background);
  }

  > * {
    position: relative;
  }

  h1 {
    font-size: toem(44px);
  }
}