.wp-block-post {
  padding: 25px;
  border-radius: 10px;
  background-color: white;
  box-shadow: 0 4px 35px 0 rgba(black, .05);
  transition: all .25s ease;

  h2 {
    font-size: toem(24px);

    a {
      color: $suit-color--darkgray;
      text-decoration: none !important;
    }
  }

  &:hover {
    box-shadow: 0 4px 35px 0 rgba(black, .12);

    .wp-block-post-excerpt__more-link {
      &::after {
        transform: translateX(8px);
      }
    }
  }

  p {
    margin: 0;
  }

  .wp-block-post-excerpt__more-text {
    margin-top: 25px;
  }

  .wp-block-post-excerpt__more-link {
    display: flex;
    align-items: center;
    font-family: $suit-font-family--primary;
    font-size: 16px;
    font-weight: 500;
    text-decoration: none;
    color: $suit-color--blue !important;
    box-shadow: none !important;

    &::after {
      content: url("./images/arrow-right.svg"); 
      display: grid;
      place-items: center;
      width: 20px;
      height: 20px;
      transform: translateX(5px);
      transition: all .25s ease;
    }

    &:hover {
      &::after {
        transform: translateX(8px);
      }
    }
  }
}

.blog__featured {
  .wp-block-post {
    display: flex;
    padding: 40px 30px;
  }

  .wp-block-post-featured-image {
    height: 365px;
    max-width: 592px;
  }

  .wp-block-post-excerpt__more-text {
    margin-top: 50px
  }

  .wp-block-post-excerpt__more-link {
    @extend .btn;

    font-size: toem(14px);
    color: white !important;
    background-color: $suit-color--cyan;
    
    &:hover {
      background-color: color-mix(in srgb, $suit-color--cyan,#000 40%);;
    }

    &::after {
      display: none;
    }
  }

  .wp-block-post-terms {
    a:not(:first-of-type()),
    span {
      display: none;
    }

    a {
      width: fit-content;
      padding: 8px 13px;
      border: 1px solid $suit-color--cyan;
      border-radius: 9999px;
      font-family: $suit-font-family--primary;
      font-size: 13px;
      font-weight: 500;
      color: $suit-color--cyan;
      background-color: #DBF7FF;
      pointer-events: none;
      text-decoration: none;
    }
  }
}

.posts__loop {
  .wp-block-post-template {
    li {
      opacity: 0;
      transform: translateY(-30px);
      animation: fade-in-move .25s ease forwards;
    }
    @for $i from 1 to 7 {
      li {
        &:nth-of-type(#{$i}) {
          animation-delay: #{$i * 60}ms;
        }
      }
    }
  }
}

.wp-block-query-pagination {
  gap: 0;
  margin-top: 35px !important;

  .wp-block-query-pagination-numbers {
    display: flex;
    gap: 2px;
  }

  .page-numbers {
    display: grid;
    place-items: center;
    width: 40px;
    height: 40px;
    border-radius: 8px;
    font-family: $suit-font-family--primary;
    font-size: 14px;
    font-weight: 700;
    color: $suit-color--blue;
    text-decoration: none !important;

    &:hover {
      &:not(.current) {
        background-color: darken(#F3F6FE, 5%);
      }
    }

    &.current {
      background-color: #F3F6FE;
    }
  }

  .wp-block-query-pagination-previous,
  .wp-block-query-pagination-next {
    display: grid;
    place-items: center;
    width: 50px;
    height: 50px;

    span {
      display: none !important;
    }

    &::after {
      content: url("./images/arrow-right.svg");
      display: grid;
      place-items: center;
      width: 20px;
      height: 20px;
      transition: all .25s ease;
    }

    &:hover {
      &::after {
        transform: translateX(3px);
      }
    }
  }

  .wp-block-query-pagination-previous {
    &::after {
      rotate: .5turn;
    }
  }


}